<div class="well"><h1>Welcome to Family Life</h1>
  <div class="row">
    <div class="col-md-8">
      <button type="button" class="btn btn-success btn-lg btn-block">
<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      Sign In</button>
</div>
    <div class="col-md-4">  <button type="button" class="btn btn-info btn-lg btn-block">Sign Up</button>
</div>
